.navbar-right .btn {
	margin-top: 9px;
}

.jumbotron {
	margin-top: 50px;
	background: url(../images/herobg.jpg) center center;
	background-size: cover;
	text-align: center;
}

.jumbotron h1 {
	font-weight: 800;
	text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
}

.jumbotron p {
	font-style: italic;
	text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
}

